<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create Data Detail Pelayanan</h1>
    <a href="{% url 'detailpelayanan' %}">
        <button>
            Back
        </button>
    </a>
    <a href="{% url 'home' %}">
        <button>
            Home
        </button>
    </a>
    <br>
    <form action=""method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th>ID Pelayanan</th>
            <td>
                <select name="idpelayanan" id="" class="form-control">
                    {% for item in allpelayananobj %}
                    <option value="{{item.idpelayanan}}">{{item}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th>ID Pendaftaran</th>
            <td>
                <select name="idpendaftaran" id="" class="form-control">
                    {% for item in allpendaftaranobj %}
                    <option value="{{item.idpendaftaran}}">{{item}}</option>
                    {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Jumlah Jenis Layanan</th>
            <td>
                <input type="number" name="jumlahjenispelayanan">
            </td>
        </tr>
    </table>
    <button type="submit">submit</button>
</body>
</html>