<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create Data Pasien</h1>
    <a href="{% url 'pasien' %}">
        <button>
            Back
        </button>
    </a>
    <a href="{% url 'home' %}">
        <button>
            Home
        </button>
    </a>
    <br>
    <form action=""method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th>Nama</th>
            <td>
                <input type="text"name='namapasien'>
            </td>
        </tr>
        <tr>
            <th>Tanggal Lahir</th>
            <td>
                <input type="date" name="tanggallahir">
            </td>
        </tr>
        <tr>
            <th>Jenis Kemlamin</th>
            <td>
                <select name="jeniskelaminpasien">
                    <option value="Perempuan">Perempuan</option>
                    <option value="Laki-Laki">Laki-Laki</option>
            </td>
        </tr>
        <tr>
            <th>No HP</th>
            <td>
                <input type="number" name="nohppasien">
            </td>
        </tr>
    </table>
    <button type="submit">submit</button>
</body>
</html>