<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pendaftaran</h1>
    <table>
        <tr>
            <th>ID Pendaftaran</th>
            <th>ID Dokter</th>
            <th>ID Pasien</th>
            <th>Tanggal Pendaftaran</th>
        </tr>
        {% for item in allpendaftaranobj%}
        <tr>
            <td>PD{{ item.idpendaftaran }}</item></td>
            <td>{{ item.iddokter }}</item></td>
            <td>{{ item.idpasien }}</item></td>
            <td>{{ item.tanggalpendaftaran }}</td>
            <td>
                <a href="{% url 'updatependaftaran' item.idpendaftaran %}">
                    <button>Update</button>
                </a>
            </td>
            <td>
                <a href="{% url 'deletependaftaran' item.idpendaftaran %}">
                    <button>Delete</button>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'createdatapendaftaran' %}">
        <button>
            CREATE DATA
        </button>
    </a>
    <br>
    <br>
    <a href="{% url 'home' %}">
        <button>
            Home
        </button>
    </a>
</body>
</html>