<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Data</title>
</head>
<body>
    <h1>Update Data Detail Pelayanan</h1>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th>ID Pendafatran</th>
                <td>
                    <select name="idpendaftaran" id="" class="form-control" value="{{'pendaftaranall.idpendaftaran'}}">
                        {% for item in pendaftaranall %}
                        <option value="{{item.idpendaftaran}}">{{item.idpendaftaran}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>ID Pelayanan</th>
                <td>
                    <select name="idpelayanan" id="" class="form-control" value="{{'pelayananall.idpelayanan'}}">
                        {% for item in pelayananall %}
                        <option value="{{item.idpelayanan}}">{{item.idpelayanan}}</option>
                        {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Jumlah Jenis Layanan</th>
                <td>
                    <input type="number" name="jumlahjenispelayanan" value="{{detailpelayananobj.jumlahjenispelayanan}}">
                </td>
            </tr>
            </table>
            <button type="submit" >UPDATE</button>
    </form>
    <br>
    <br>
    <a href="{% url 'detailpelayanan' %}">
        <button>
            Back
        </button>
    </a>
</body>
</html>