{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with LeadMark landing page.">
    <meta name="author" content="Devcrud">
    <title>LOSIK Dental care</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{%static 'assets/vendors/themify-icons/css/themify-icons.css'%}">
    <!-- Bootstrap + LeadMark main styles -->
	<link rel="stylesheet" href="{%static 'assets/css/leadmark.css'%}">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- page Navigation -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-info rounded shadow mb-3">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/imgs/logo.svg" alt="">
            </a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">                     
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'home' %}" >Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'pasienx' %}" >Pasien</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'dokterx' %}">Dokter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'pelayananx' %}">Pelayanan</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'pendaftaranx' %}" class="ml-4 nav-link btn btn-primary btn-sm rounded text-white">Pendaftaran</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'detailpelayananx' %}">Detail Pelayanan</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- end of page navigation -->

    <!-- input -->
    <h3>Update Data Pendaftaran</h3>
    <hr>
        <form action="" method="post">
            {% csrf_token %}
            <div class="row mt-5">
                <div class="col-md-6">
                    <h6>ID Dokter</h6>     
                    <div class="form-group">
                        <select name="iddokter" id="" class="form-control" value="{{'pendaftaran.iddokter'}}">
                            {% for item in dokterall %}
                            <option value="{{item.iddokter}}">{{item.iddokter}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <h6>ID Pasien</h6>     
                    <div class="form-group">
                        <select name="idpasien" id="" class="form-control" value="{{'pendaftaran.idpasien'}}">
                            {% for item in pasienall %}
                            <option value="{{item.idpasien}}">{{item.idpasien}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <h6>Tanggal Pendaftaran</h6> 
                    <div class="form-group">
                        <input type="date" class="form-control" placeholder="Date" name="tanggallahir" value="{{tanggal}}">
                    </div>
                    <button type="submit" class="btn btn-success">UPDATE</button>
                </div>
            </div>
        </form>
    </hr>
    <!-- end of input -->
</body>